.enp-tree__start {
    background: $btn_background;
    color: $btn_color
}

.enp-tree__option-link {
    background: #ddd;
    background: rgba(0,0,0,.1);

    &:hover,
    &:focus {
        background: rgba(0,0,0,.2);
    }
}
