.enp-tree {
    background: $tree_background;
}

.enp-tree__intro {
    background: $intro_background;
}

.enp-tree__btn {
    background: $btn_background;
    color: $btn_color;

    &:hover,
    &:focus {
        background: $btn_background--hover;
        color: $btn_color;
    }
}

.enp-tree__question {
    background: $question_background;
    border: 1px solid $question_border;
}

.enp-tree__option-link,
.enp-tree__option-link:visited {
    background: $option_background;
    color: $text_color;

    &:hover,
    &:focus {
        background: $option_background--hover;
        color: $text_color;
    }
}

.enp-tree__state--end {
    background: $state_background--end;
}
.enp-tree__end {
    background: $end_background;
    border: 1px solid $end_border;
}
