.enp-tree {
    background: $tree_background;
    color: $black;
}

.enp-tree__intro {
    background: $intro_background;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

.enp-tree__btn {
    background: $btn_background;
    color: $btn_color;

    &:hover,
    &:focus {
        background: $btn_background--hover;
        color: $btn_color;
    }
}

.enp-tree__question {
    background: $question_background;
    border: 1px solid $question_border;
}

.enp-tree__option-link,
.enp-tree__option-link:visited {
    background: $option_background;
    color: $text_color;
    border: 1px solid $option_border;

    &:hover,
    &:focus {
        background: $option_background--hover;
        color: $text_color;
    }
}


.enp-tree__destination--question {
    color: $option_destination;
}

.enp-tree__destination--end {
    color: $option_destination--end;
}

.enp-tree__icon--arrow {
    fill: $option_destination;
}

.enp-tree__el-number {
    color: $number;
}

.enp-tree__state--tree {
    .enp-tree__el-number {
        color: $number--tree_state;
    }
}

.enp-tree__state--end {
    background: $state_background--end;
}
.enp-tree__end {
    background: $end_background;
    border: 1px solid $end_border;
}

@mixin historyLink {
    background: $white;
    color: $black;
    box-shadow: 0 0 2px rgba(0,0,0,.15);

    &:hover,
    &:focus {
        background: darken($gray--light, 5);
    }
}

@mixin historyLinkActive {
    color: $btn_color;
    background: $btn_background;
    border-color: $btn_background;
}


.enp-tree__history-list-link {
    @include historyLink

    &.is-active {
        @include historyLinkActive
    }
}

.enp-tree__overview-icon {
    &,
    &:after {
        border: 2px solid $black;
    }
}
.enp-tree__history-list-link--overview.is-active .enp-tree__overview-icon {
    &,
    &:after {
        border: 2px solid $btn_color;
    }
}
