.enp-tree {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Tahoma", sans-serif;
}

.enp-tree__title--tree {
    font-size: 1.9rem;
}

.enp-tree__title--question {
    font-size: 1.4rem;
}

.enp-tree__title--end {
    font-size: 1.9rem;
}
