$desktop: 1100px;
$tablet: 768px;
$tablet-mini: 600px;
$mobile-large: 480px;
$mobile: 320px;

@mixin breakpoint($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

@mixin no-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.enp-tree__no-transition {
    .enp-tree__intro-wrapper,
    .enp-tree__title,
    .enp-tree__content-window,
    .enp-tree__content-panel,
    .enp-tree__questions,
    .enp-tree__question,
    .enp-tree__option-link,
    .enp-tree__history,
    .enp-tree__history-list-link,
    .enp-tree__history-progress {
        transition: none!important;
        animation: none!important;
    }
}
