// colors
$green: #3bb275;
$black: #222;
$gray: #6f6f6f;
$white: white;
$gray--light: #f8f8f9;

$focus: #4d90fe;

// tree colors
$tree_background: $gray--light;
$intro_background: $white;
$tree_border: #f2f2f2;

// question colors
$question_background: $white;
$question_border: darken($tree_background, 10);
$number: $gray;
$number--tree_state: darken($green, 10);
// #234449
// #233949

// option colors
$option_background: transparent;
$option_border: rgba(0,0,0,.05);
$option_background--hover: rgba(0,0,0,.03);
$option_destination: $number--tree_state;
$option_destination--end: #212e3d;

// end colors
$end_background: $white;
$end_border: darken($tree_background, 10);

// state colors
$state_background--end: darken($tree_background, 10);

// text colors
$heading_color: $black;
$text_color: $black;
$link: $green;
$link_hover: darken($link, 10);

// button colors
$btn_color: $white;
$btn_background: $green;
$btn_background--hover: darken($btn_background, 6);

// structural variables
$column_max_width: 600px;
$column_min_width: 250px;
$spacing__base: 1.6rem;
$question__font-size: 1.4rem;
$end__font-size: 1.9rem;
$option__font-size: 1rem;
