.enp-tree__end {
    width: 100%;
    background: #f2f2f2;
    border: 1px solid #ddd;
    padding: $spacing__base;
}

.enp-tree__state--end {
    .enp-tree__end {
        &:not(.is-active) {
            opacity: 0;
            position: absolute;
            z-index: -1;
        }
        &.is-active {
            opacity: 1;
            position: relative;
            z-index: 9;
        }
    }

    .enp-tree__questions {
        display: none;
    }
}
