.enp-tree__group {
    width: $column_max_width;
    max-width: 100%;
}

.enp-tree__state--tree {
    @include breakpoint($mobile-large) {
        .enp-tree__group {
            position: absolute;
            top: 0;
            left: 650px;
            float: right;
        }
        .enp-tree__title--group {
            position: absolute;
            bottom: 100%;
        }
    }
}
.enp-tree__state--question {
    .enp-tree__title--group {
        display: none;
    }
}
