.enp-tree__group {
    width: $column_max_width;
    max-width: 100%;
}

.enp-tree__title--group {
    position: absolute;
    bottom: 100%;
}

.enp-tree__state--intro,
.enp-tree__state--tree {
    .enp-tree__group {
        position: absolute;
        top: 0;
        min-width: $column_min_width;
    }

}
.enp-tree__state--question {
    .enp-tree__title--group {
        display: none;
    }
}
