.enp-tree__history {
    position: absolute;
    left: 5px;
    top: 10px;
    z-index: 999;
    margin: 0;
    transform-origin: top left;
    transition: all .4s;

    @include breakpoint($tablet + 100px) {
        left: calc(50% - $column_max_width/1.5);
    }
}

.enp-tree__history-list {
    @include no-list;
}

.enp-tree__history-list-item {
    margin-bottom: $spacing__base/2;
}

.enp-tree__history-list-link {
    display: block;
    cursor: pointer;
    text-align: center;
    font-size: 0.9rem;
    width: $spacing__base;
    line-height: $spacing__base;
    border-radius: 50%;
    transition: all .15s;
}

.enp-tree__history-list-link--overview {
    position: relative;
    height: $spacing__base;
}

.enp-tree__overview-icon {
    position: absolute;
    top: 6px;
    width: 2px;
    height: 2px;

    &:after {
        width: 2px;
        height: 2px;
        content: '';
        display: block;
        position: absolute;
        top: 6px;
        left: -2px;
    }

    &:first-child {
        left: 6px;

        &:after {
            left: -2px;
        }
    }

    &:last-child {
        right: 6px;

        &:after {
            right: -2px;
        }
    }
}

.enp-tree__state--tree {
    .enp-tree__history {
        transform: scale(1.2);

        @include breakpoint($mobile-large) {
            transform: scale(1.5);
        }

    }
}
