.enp-tree__history {
    position: absolute;
    top: $spacing__base;
    z-index: 999;
    margin: 0;
    transform: translate3d(0,0,0);
    transform-origin: top left;
    transition: all .4s;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.enp-tree__history-list {
    @include no-list;
    margin: 0;
}

.enp-tree__history-list-item {
    margin-bottom: $spacing__base;
    transform: translate3d(0,0,0);
    animation: enterHistoryItem .4s;
}

.enp-tree__history-list-link {
    display: block;
    cursor: pointer;
    text-align: center;
    font-size: 0.9rem;
    width: $spacing__base;
    line-height: $spacing__base;
    border-radius: 50%;
    transition: all .15s;
    position: relative;
}

.enp-tree__history-progress {
    display: block;
    width: 2px;
    background: rgba(0,0,0,.25);
    height: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .4s;
}


.enp-tree__history-list-link--overview {
    position: relative;
    height: $spacing__base;
}

.enp-tree__overview-icon {
    position: absolute;
    top: 6px;
    width: 2px;
    height: 2px;

    &:after {
        width: 2px;
        height: 2px;
        content: '';
        display: block;
        position: absolute;
        top: 6px;
        left: -2px;
    }

    &:first-child {
        left: 6px;

        &:after {
            left: -2px;
        }
    }

    &:last-child {
        right: 6px;

        &:after {
            right: -2px;
        }
    }
}

.enp-tree__state--tree {
    .enp-tree__history {
        transform: scale(1.5);
        left: 20px;
    }
}

.enp-tree__state--question,
.enp-tree__state--end {
    .enp-tree__history {
        left: 5px;

        @include breakpoint($tablet + 100px) {
            left: calc(50% - 350px);
        }
    }
}


@keyframes enterHistoryItem {
    0% {
        opacity: 0;
        transform: translate3d(0, -50px, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
