.enp-tree__options {
    @include no-list;
    margin: 0;
    padding: 0;
}

.enp-tree__option {
    line-height: 1.2;
    margin-bottom: $spacing__base/2;
}

.enp-tree__option-link {
    display: block;
    width: 100%;
    padding: $spacing__base/2;
    text-decoration: none;
    transition: all .2s $easing;
}

.enp-tree__destination {
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.enp-tree__icon--arrow {
    width: 1.2rem;
    height: 1.2rem;
    position: relative;
    top: 0.05rem;
    margin-left: 5px;
    transform: rotate(-270deg);
}

.enp-tree__state--intro,
.enp-tree__state--tree {
    .enp-tree__option-link {
        display: flex;
        justify-content: space-between;
    }

    .enp-tree__option-title {
        max-width: 63%;
        margin-right: $spacing__base/2;
    }
}

.enp-tree__state--question,
.enp-tree__state--end {
    .enp-tree__destination {
        display: none;
    }
}
