.enp-tree__questions {
    max-width: $column_max_width;
    margin-bottom: $spacing__base * 2;
    transition: all .4s;
}

.enp-tree__question {
    width: 100%;
    padding: $spacing__base * 2 $spacing__base $spacing__base * 1.5;
    margin-top: 0;
    margin-bottom: $spacing__base;
    transition: all .4s;
}

.enp-tree__state--tree {
    .enp-tree__question {
        position: relative;
        transition: all .15s;

        &:focus,
        &:hover {
            transform: scale(1.02);
            box-shadow: 0 5px 5px rgba(0,0,0,.15);
        }
        // click layer so clicks on a question get sent to our
        // JS as a question instead of something inside it, like a heading
        &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            content: '';
        }
    }
}
// .enp-tree__state--#{state} classes are applied with JS,
// so these are JS only styles
.enp-tree__state--end.enp-tree__state--animate-out--question {
    .enp-tree__questions {
        opacity: 0;
    }

}
