.enp-tree__questions {
    max-width: $column_max_width;
    margin-bottom: $spacing__base * 2;
    transition: transform .4s, opacity .4s;
}

.enp-tree__question {
    width: 100%;
    margin-top: 0;
    margin-bottom: $spacing__base;
    transition: transform .4s, opacity .4s, box-shadow .2s;
    padding: $spacing__base * 1.5 $spacing__base * .75 $spacing__base;
    position: relative;

    @include breakpoint($mobile-large) {
        padding: $spacing__base * 2 $spacing__base $spacing__base * 1.5;
    }

}

.enp-tree__el-number {
    position: absolute;
    top: $spacing__base/3;
    @include breakpoint($mobile-large) {
        top: $spacing__base/2;
    }
    padding: 3px;
}

.enp-tree__state--tree {
    .enp-tree__questions {
        min-width: $column_min_width;
    }

    .enp-tree__question {
        position: relative;
        transform: scale(1) translate3d(0,0,0);
        transition: all .15s;

        &:focus,
        &:hover {
            transform: scale(1.02) translate3d(0,0,0);
            box-shadow: 0 5px 5px rgba(0,0,0,.15);
        }
        // click layer so clicks on a question get sent to our
        // JS as a question instead of something inside it, like a heading
        &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            content: '';
        }
    }
}

.enp-tree__state--question,
.enp-tree__state--end {
    .enp-tree__questions {
        margin-left: auto;
        margin-right: auto;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
}
// .enp-tree__state--#{state} classes are applied with JS,
// so these are JS only styles
.enp-tree__state--end.enp-tree__state--animate-out--question {
    .enp-tree__questions {
        opacity: 0;
    }
}
