/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.enp-tree {
    width: 100%;
    max-width: 800px;
}

.enp-tree__start {
    padding: $spacing__base*0.8 $spacing__base;
    text-decoration: none;
}
