/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.enp-tree {
    width: 100%;
    padding: $spacing__base/4;
}

.enp-tree__intro {
    width: 100%;
    max-width: $column_max_width;
}

.enp-tree__start {
    padding: $spacing__base*0.6 $spacing__base;
    text-decoration: none;
    text-align: center;
}
