/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.enp-tree {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

// remove 300ms delay
.enp-tree a,
.enp-tree__question {
    touch-action: manipulation;
}

.enp-tree__intro-wrapper {
    text-align: center;
    width: 100%;
    padding: $spacing__base*2 $spacing__base;
    position: relative;
    z-index: 99;
    transition: all .4s $easing;
}

.enp-tree__title {
    margin-top: 0;
    margin-bottom: $spacing__base;
    transition: all .4s $easing;
}

.enp-tree__title--tree {
    padding-bottom: $spacing__base*0.66;
    margin-bottom: $spacing__base/5;
    display: inline-block;
}

.enp-tree__stats-list {
    @include no-list;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 300px;
    margin: auto;

    @include breakpoint($tablet) {
        max-width: none;
    }
}

.enp-tree__stats-item {
    text-align: center;
    padding: $spacing__base/2;
    margin-bottom: $spacing__base/2;
    width: 100%;
    display: flex;
    flex-direction: column;
    width: calc(50% - #{$spacing__base}/4);
    margin-right: $spacing__base/2;

    &:nth-child(even) {
        margin-right: 0;
    }

    @include breakpoint($tablet) {
        width: auto;
        margin-right: $spacing__base/2;

        &:nth-child(even) {
            margin-right: $spacing__base/2;
        }
    }
}

.enp-tree__title--stats-item {
    margin-bottom: $spacing__base/6;
    order: 2;
}

.enp-tree__state--intro {
    .enp-tree__intro-wrapper {
        padding: $spacing__base*4 $spacing__base/3;

        @include breakpoint($mobile-large) {
            padding: $spacing__base*4 $spacing__base;
        }

    }

    .enp-tree__intro {
        margin-left: auto;
        margin-right: auto;
        padding: $spacing__base $spacing__base/2;
        border-radius: 5px;

        @include breakpoint($mobile-large) {
            padding: $spacing__base*2 $spacing__base $spacing__base;
            max-width: 80%;
        }

        @include breakpoint($tablet) {
            padding: $spacing__base*2 $spacing__base*2 $spacing__base;
            max-width: 66%;
        }

    }

    .enp-tree__start {
        padding: $spacing__base*0.8 $spacing__base*1.4;
    }

    .enp-tree__content-wrapper {
        position: absolute;
        top: 0;
    }
}

.enp-tree__state--end,
.enp-tree__state--question {
    .enp-tree__intro-wrapper {
        padding: $spacing__base/5;
    }

    .enp-tree__title--tree {
        transform: scale(0.5);
        margin-bottom: 0;
    }

    .enp-tree__start-container,
    .enp-tree__stats {
        display: none;
    }
}

.enp-tree__btn {
    padding: $spacing__base*0.6;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    min-width: 150px;
    border-radius: 40px;
}

.enp-tree__content-window {
    box-sizing: content-box;
    padding: 15px;
    position: relative; // !important!!!! need this to make offsetTop in JS calculate correctly
    transition: all .4s $easing;
    transform: translate3d(0,0,0);
    will-change: transform;
    transform-origin: top left;



    @include breakpoint($mobile-large) {
        padding: $spacing__base;
        transform-origin: top left;
    }

    @media (max-width: $tablet) {
        padding-left: 45px; // account for history nav
    }
}

.enp-tree__state--tree {

    .enp-tree__content-wrapper {
        overflow: scroll;
    }

    .enp-tree__content-window {
        max-height: 700px;
        overflow: scroll;
        padding-left: 80px;
    }
}

.enp-tree__ends,
.enp-tree__questions {
    box-sizing: border-box;
}

.enp-tree__content-panel {
    position: relative;
    will-change: transform;
    transition: all .5s $easing;
}

// overview of whole tree
.enp-tree__state--intro,
.enp-tree__state--tree {
    .enp-tree__content-window {
        transform: scale(0.65) translate3d(0,0,0);
        transform-origin: top left;
        padding-top: $spacing__base * 3;
        max-height: none;
        overflow: visible;

        @media (max-width: $column_max_width) {
            padding-left: 65px; // account for history nav
        }

    }
}

.enp-tree__state--end,
.enp-tree__state--question {

    .enp-tree__content-window {
        overflow: hidden;
    }
}

.enp-tree__state--end {
    .enp-tree__start-container {
        display: none;
    }
    .enp-tree__content-window {
        padding-top: $spacing__base;
    }
}

.enp-tree__state--tree.enp-tree__state--animate-out--end {
    .enp-tree__content-window {
        animation: animateToTree 0.5s $easing;

    }
     .enp-tree__content-panel {
        transition: none;
    }
}

@keyframes animateToTree {
    0% {
        opacity: 0;
        transform: scale(0.65) translate3d(0,-50px,0);
        transform-origin: top left;
    },
    100% {
        opacity: 1;
        transform: scale(0.65) translate3d(0, 0,0);
        transform-origin: top left;
    }
}
