$orange: #bf5700;
$blue: #daecf3;

@mixin btn--reset {
    border: none;
    background: none;
    padding: 0;
    border-radius: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial;
    background: $blue;
}

* {
    box-sizing: border-box;
}

label {
    display: block;
}

input {
    width: 100%;
    padding: 0.4rem;
    display: block;
    margin-bottom: 0.6rem;
}

textarea {
    resize: none;
    background: transparent;
}

select {
    width: 100%;
    margin-bottom: 0.6rem;
}

button {
    border: none;
    background: $orange;
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 40px;
    cursor: pointer;
}

.app {
    background: $blue;
    padding: 3rem 0;
    transition: all 0.2s;
}
.app--loading {
    background: $blue;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.app--error {
    background: $orange;
}

.app--saving {
    opacity: 0.2;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    left:-10000px;
    top: 10px;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index: -1;

    &:focus {
        clip: auto !important;
        display: block;
        height: auto;
        width: auto;
        left: 10px;
        top: 10px;
        z-index: 9999999;
    }
}

.element {
    padding: 1rem 0;
    margin-bottom: 2rem;
    position: relative;
    animation: fadeIn 0.4s;

    &.question:hover {
        cursor: move;
        cursor: grab;
        cursor: -webkit-grab;
    }
}

body.draggable--is-dragging,
body.draggable--is-dragging .element:hover,
body.draggable--is-dragging input:hover,
 body.draggable--is-dragging textarea:hover{
    cursor: move!important;
    cursor: grabbing!important;
    cursor: -webkit-grabbing!important;
}

.element__title,
.element__content {
    width: 100%;
    border: none;
    border-bottom: 2px solid #333;
    font-size: 1.375rem;
    padding: 0.4rem;
}

.element__title--question {
    font-weight: 600;
}

.element__title--end {
    font-size: 2rem;
    font-weight: 600;
}

.element__content {
    font-size: 1rem;
    border-bottom: none;
}

.element__save {
    display: none;
}

.element__option {
    background: white;
    padding: 1rem;
    margin-bottom: 0.6rem;
    border-left: 10px solid #eee;
}

.option-wrapper {
    position: relative;
}

.element__title--option {
    font-size: 1rem;
}

.element__create {
    border: 1px dashed #fff;
    padding: 1rem;
}

.create__title {
    width: 100%;
}


.btn--delete {
    color: red;
    background: none;
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    top: 5px;
    right: -1rem;
    border: none;
}

.btn__delete-option {
    right: 0;
}

.option__move {
    @include btn--reset;
    position: absolute;
    left: 0;
    color: $orange;
    font-size: 0.8rem;
}

.option__move--up {
    top: 28%;
}

.option__move--down {
    bottom: 28%;
}

.draggable-source--is-dragging {
    background: rgba(0,0,0,.1);
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}

.draggable-source--is-dragging > * {
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0.2;
    },
    100% {
        opacity: 1;
    }
}
