$orange: #bf5700;
$red: #af3131;
$blue: #daecf3;
$blueGray: #646769;
$lightGray: #f7f6f5;

@mixin btn--reset {
    border: none;
    background: none;
    padding: 0;
    border-radius: 0;
}

@mixin visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    left:-10000px;
    top: 10px;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index: -1;

    &:focus {
        clip: auto !important;
        display: block;
        height: auto;
        width: auto;
        left: 10px;
        top: 10px;
        z-index: 9999999;
    }
}

.visually-hidden {
    @include visually-hidden;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial;
    background: $blue;
}

* {
    box-sizing: border-box;
}

label {
    display: block;
}

input {
    width: 100%;
    padding: 0.4rem;
    display: block;
    margin-bottom: 0.6rem;
}

textarea {
    resize: none;
    background: transparent;
    overflow: hidden;
}

select {
    width: 100%;
    margin-bottom: 0.6rem;
}

svg {
    width: 1.1rem;
    height: 1.1rem;
}

.element__multiselect {
    border: 1px solid #ddd;

    option {
        padding: 0.2rem;
        font-size: 0.85rem;
    }
}

button {
    border: none;
    background: $orange;
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 40px;
    cursor: pointer;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 15px;
}

section {
    margin-bottom: 4rem;
}

h2 {
    margin: 1rem auto;
    color: rgba(0,0,0,.7);
    font-size: 1rem;
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding: 0 15px;
    max-width: 700px;

    @media (min-width: 780px) {
        width: 80%;
    }
}



h3 {
    margin: 0 auto 0.6rem;
    font-size: 1rem;
    max-width: 500px;
}

.app {
    background: $blue;
    padding: 3rem 0;
    transition: all 0.2s;
}
.app--loading {
    background: $blue;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.app--error {
    background: $orange;
}

.app--saving {
    opacity: 0.2;
}



.element {
    padding: 1rem 0;
    margin-bottom: 2rem;
    position: relative;
    animation: fadeIn 0.4s;
    background: $blue;

    &.question:hover {
        cursor: move;
        cursor: grab;
        cursor: -webkit-grab;
    }
}

body.draggable--is-dragging,
body.draggable--is-dragging .element:hover,
body.draggable--is-dragging input:hover,
 body.draggable--is-dragging textarea:hover{
    cursor: move!important;
    cursor: grabbing!important;
    cursor: -webkit-grabbing!important;
}

.element__title,
.element__content {
    width: 100%;
    border: none;
    border-bottom: 2px solid #333;
    font-size: 1.375rem;
    padding: 0.4rem;

    &:focus {
        background: #fff;
    }
}

.element__title--question {
    font-weight: 600;
}

.element__title--end {
    font-size: 2rem;
    font-weight: 600;
}

.element__content {
    font-size: 1rem;
    border-bottom: none;
}

.element__save {
    display: none;
}

.element__option {
    background: white;
    padding: 0.2rem 1.4rem 0.2rem 1.4rem;
    margin-bottom: 0.6rem;
    box-shadow: inset 11px 0 0 $lightGray, inset 12px 0 0 #ddd;
}

.option-wrapper {
    position: relative;
}

.element__title--option {
    font-size: 1rem;
}

.element__create {
    border: 3px dashed #fff;
    padding: 1rem;
}

.element__label {
    @include visually-hidden;
}

.create__title {
    width: 100%;
}

.btn--icon {
    font-size: 1rem;
    padding: 0.4rem 0.6rem;
    line-height: 1;
}

.btn--add {
    display: block;
    width: 100%;
    padding: 0.8rem 1rem;
    background: $blue;
    color: #333;
    border: 2px dashed darken($blue, 20%);
    font-size: 0.9rem;
    transition: all .15s;

    &:focus,
    &:hover {
        background: darken($blue, 5%);
    }
}

.btn--delete {
    fill: $blueGray;
    background: none;
    position: absolute;
    top: 0;
    right: -0.5rem;
    border: none;
    padding: 0.2rem;
    border-radius: 50%;


    @media (min-width: 500px) {
        right: -1rem;
    }

    &:hover,
    &:focus {
        fill: $red;
    }
}


.btn__delete-option {
    right: 0;
}

.option__move {
    @include btn--reset;
    position: absolute;
    left: 0;
    color: $orange;
    font-size: 0.8rem;
}

.option__move--up {
    top: 2px;
}

.option__move--down {
    bottom: 2px;
}

.draggable-source--is-dragging {
    background: rgba(0,0,0,.1);
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}

.draggable-source--is-dragging > * {
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0.2;
    },
    100% {
        opacity: 1;
    }
}

.compiled-json {
    overflow: scroll;
    max-width: 100%;
    background: #fff;
    padding: 1rem;
}
